@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 0px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
  border: 3px solid var(--primary);
}

body {
  background: #f2eee5;
  font-family: "Sono", sans-serif;
}

.hamburger-input {
  display: none;
}

.hamburger-menu {
  position: absolute;
  z-index: 11;
  top: 6.06%;
  right: 5.56%;
  width: 8%;
  height: 3%;
  display: none;
  border: none;
  padding: 0%;
  margin: 0%;
  font-family: "Cabin", Sans-serif;
  background: linear-gradient(
    to bottom,
    #000000,
    #000000 20%,
    #ffffff 20%,
    #ffffff 40%,
    #000000 40%,
    #000000 60%,
    #ffffff 60%,
    #ffffff 80%,
    #000000 80%,
    #000000 100%
  );
}

.hamburger-menu .sidebar-menu {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: -250px;
  width: 400px;
  height: 100%;
  background-color: white;
  transition: 0.3s;
  box-sizing: border-box;
}

.hamburger-menu h3 {
  color: black;
  font-size: 2.2rem;
}

.hamburger-menu ul {
  padding-left: 0%;
}

.hamburger-menu li {
  list-style-type: none;
  line-height: 3rem;
}

.hamburger-menu .nav-links {
  color: black;
  font-size: 1.3rem;
  text-decoration: none;
}

.hamburger-menu a:hover {
  text-decoration: underline;
}

.hamburger-input:checked + .hamburger-menu .sidebar-menu {
  visibility: visible;
  left: 0;
}

.cat-buttons {
  overflow: scroll;
}
 /*next two lines are animation for postCardSearch*/
.animate-fade-in {
  animation: fade-in 0.5s ease-in-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Tablet 425px - 768px */
@media screen and (min-width: 425px) and (max-width: 768px) {
  .hamburger-menu {
    display: inline;
    top: 5%;
    right: 3%;
    height: 3%;
    width: 5%;
  }

  .cat-buttons {
    margin-left: 0rem;
    padding: 8px 0px;
  }

  .ul-margins div {
    margin-left: 2rem;
  }

  .fact-list-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    gap: 1.5rem;
    align-content: center;
  }

  .postcard-section {
    padding-left: 0%;
    padding-right: 0%;
  }
  
  .postcard-inner-div {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding-left: 0%;
  }

  .postcard-outer-div {
    padding: 10% 2% 1% 2%;
    margin-left: 0%;
  }

  .store div h1 {
    margin-top: 4rem;
  }
  .store-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 1rem;
  }

  .arrow-block .store-arrow {
    margin-top: 3.5rem;
  }
  .postcard-section {
    padding-left: 0%;
    padding-right: 0%;
  }
  
  .postcard-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding-left: 0%;
  }

  .postcard-div li {
    text-align: center;
  }

  .postcard-div li div {
    margin-left: 2%;
    margin-right: 2%;
  }

  .postcontent-section {
    margin: 0;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .selection-cat-form {
    display: grid;
  grid-auto-rows: auto;
  }

  .search-cat-section {
    margin-bottom: 60%;
  }

  .search-cat-button {
    margin-top: 10%;
  }

  .search-select {
    margin-top: 5%;
  }
} 

/* Phone 320px - 424px */
@media screen and (min-width: 320px) and (max-width: 424px) {

  body {
    padding: 0%;
  }

  .hamburger-menu {
    display: inline;
    top: 10.5%;
    right: 8%;
    width: 10%;
  }

  .cat-buttons {
    margin-left: 0rem;
    padding: 10px 0px;
  }

  button .add-button {
    display: inline;
    top: 25px;
    font-size: 60%;
  }
  .add-button {
    display: inline;
    bottom: 50px;
    font-size: 80%;
  }

  .ul-margins div {
    margin-left: 1rem;
  }

  .fact-list-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    gap: 1.5rem;
    align-content: center;
  }

  .blog-welcome {
    margin-left: 10rem;
  }

  .sources-heading {
    width: 100%;
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .store-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 1rem;
  }

  .postcard-section {
    padding-left: 0%;
    padding-right: 0%;
  }
  
  .postcard-inner-div {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding-left: 0%;
  }

  .postcard-outer-div {
    padding: 10% 2% 1% 2%;
    margin-left: 5%;
  }

  .postcard-div li {
    text-align: center;
  }

  .postcard-div li div {
    margin-left: 2%;
    margin-right: 2%;
  }

  .postcontent-section {
    margin: 0;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  
  .selection-cat-form {
    display: grid;
  grid-auto-rows: auto;
  }

  .search-cat-section {
    margin-bottom: 60%;
  }

  .search-cat-button {
    margin-top: 10%;
  }

  .search-select {
    margin-top: 5%;
  }
}